In [6]:
import numpy as np
import pandas as pd

df = pd.read_csv('./1.2.2_ML/03-Pandas/tips.csv')
df['total_bill'].apply(lambda num: num * 2)

0      33.98
1      20.68
2      42.02
3      47.36
4      49.18
       ...
239    58.06
240    54.36
241    45.34
242    35.64
243    37.56
Name: total_bill, Length: 244, dtype: float64

In [18]:
def quality(total_bill, tip):
    if tip / total_bill > 0.25:
        return 'чаевыеЩедрые'
    else:
        return 'чаевыеОбычные'

df['quality'] = df[['total_bill', 'tip']].apply(lambda df: quality(df['total_bill'], df['tip']), axis=1)

In [24]:
# np.vectorize()    как ускорить .apply()?
df['quality'] = np.vectorize(quality)(df['total_bill'], df['tip'])
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,quality
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959,чаевыеОбычные
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608,чаевыеОбычные
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458,чаевыеОбычные
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260,чаевыеОбычные
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251,чаевыеОбычные

In [32]:
import timeit 
  
# этот фрагмент кода будет запускаться только один раз
setup = '''
import numpy as np
import pandas as pd
df = pd.read_csv('./1.2.2_ML/03-Pandas/tips.csv')
def quality(total_bill,tip):
    if tip/total_bill  > 0.25:
        return "Generous"
    else:
        return "Other"
'''
  
# это фрагменты кода, для которых будет измеряться время выполнения
# (они будут выполняться много раз)
stmt_one = ''' 
df['Tip Quality'] = df[['total_bill','tip']].apply(lambda df: quality(df['total_bill'],df['tip']),axis=1)
'''

stmt_two = '''
df['Tip Quality'] = np.vectorize(quality)(df['total_bill'], df['tip'])
'''

print(
    timeit.timeit(setup = setup, stmt = stmt_one, number = 10_000)
    ,timeit.timeit(setup = setup, stmt = stmt_two, number = 10_000)
    ,sep='\n'
)

7.820894334000059
1.0006120829998508