In [48]:
import numpy as np
import pandas as pd

# Вымышленные данные о продажах за 1й и 2й квартал для некоторой глобальной компании в разных странах
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [49]:
# чувствительны к-регистру
q1_sales = pd.Series(q1)
q2_sales = pd.Series(q2)

print(
    q1_sales
    ,q2_sales
    ,q1_sales.keys()
    ,sep='\n\n'
)

Japan     80
China    450
India    200
USA      250
dtype: int64

Brazil    100
China     500
India     210
USA       260
dtype: int64

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [50]:
q1_sales * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [51]:
q2_sales / 100

Brazil    1.0
China     5.0
India     2.1
USA       2.6
dtype: float64

In [52]:
q1_sales + q2_sales    # если ключ-1 есть только-в-series-1 -> получите NaN

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [64]:
# заменить отсутствие-ключа -> 0
q1_and_q2 = q1_sales.add(q2_sales, None, 0)
q1_and_q2

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [62]:
q1_and_q2.dtype

dtype('float64')

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64